<!DOCTYPE html>
<html>
<head>
  <title>ActiveFix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<table>
			<tr>
				<td>
						<%= image_tag("logodire.png", size: "140") %>
				</td>
				<td>
				<%= image_tag("direccion.png") %>
				</td>
			</tr>
			<tr>
				<td style='float: right;'>
					<% if logged_in? %>
  					<div >
    					Logged in as <%= current_user.username %> |
    					<%= link_to "Logout", logout_path, method: :delete %> 
  					</div>
					<% end %>
				</td>
			</tr>
		</table>
	</div>

<%= yield %>

</body>
</html>
